
<mat-card class="employee-form">
  <h3 *ngIf="!editMode" >New Employee</h3>
  <h3 *ngIf="editMode" >Edit Employee</h3>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="column">
      <!-- Name -->
      <mat-form-field>
        <input type="text" matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="form.get('username').invalid">{{ getError(form.get('name'))}}</mat-error>
      </mat-form-field>

      <!-- Date -->
      <mat-form-field>
        <input matInput [matDatepicker]="dob" placeholder="Date of Birth" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
        <mat-error *ngIf="form.get('dob').invalid">{{ getError(form.get('dob'))}}</mat-error>
      </mat-form-field>

      <!-- Country -->
      <mat-form-field>
        <mat-select placeholder="Country" formControlName="country">
          <mat-option *ngFor="let country of (countries$ | async).payload " [value]="country">
            {{ country }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('country').invalid">{{ getError(form.get('country'))}}</mat-error>
      </mat-form-field>

      <!-- UserName -->
      <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="form.get('username').invalid">{{ getError(form.get('username'))}}</mat-error>
      </mat-form-field>

      <!-- Date -->
      <mat-form-field>
        <input matInput [matDatepicker]="hd" placeholder="Hire Date" formControlName="hireDate">
        <mat-datepicker-toggle matSuffix [for]="hd"></mat-datepicker-toggle>
        <mat-datepicker #hd></mat-datepicker>
        <mat-error *ngIf="form.get('hireDate').invalid">{{ getError(form.get('hireDate'))}}</mat-error>
      </mat-form-field>

      <!-- Status -->
        <mat-slide-toggle formControlName="status"> Status </mat-slide-toggle>
    </div>
    
    <div class="column">
      <!-- Area -->
      <div class="area">
        <p>Area:</p>
        <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="area">
          <mat-button-toggle value="services">Services</mat-button-toggle>
          <mat-button-toggle value="kitchen">Kitchen</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-error *ngIf="form.get('area').invalid">{{ getError(form.get('area'))}}</mat-error>
      </div>

      <!-- Job Title -->
      <mat-form-field>
        <input type="text" matInput placeholder="Job Title" formControlName="jobTitle">
      </mat-form-field>

      <!-- Tip Rate -->
      <mat-form-field>
        <input type="number" matInput placeholder="Tip Rate" formControlName="tipRate">
        <mat-error *ngIf="form.get('tipRate').invalid">{{ getError(form.get('tipRate'))}}</mat-error>
      </mat-form-field>
    </div>
  </form>
  <p class="button" >
    <a mat-raised-button [routerLink]="['/employees']" >&lt; Back</a>
    <button mat-raised-button [disabled]="!form.valid" (click)="submit()">Save</button>
  </p>
</mat-card>
