.example-container {
  width: 950px;
  margin: 0 auto;
  margin-top: 60px;

  table {
    width: 100%;
  }

  .button {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    padding-bottom: 20px;
  }
}


